form {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 250px;
  color: #888;
  letter-spacing: -0.18px;
}

h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

#title {
  width: 55%;
}

#category {
  width: 25%;
}

.add-btn {
  width: 11.5rem;
  font-family: 'Roboto Slab', serif;
  border-radius: 3px;
  background-color: #4386bf;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 0.813rem;
  font-weight: bold;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #55adfa;
}

.form-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

.form-input::placeholder {
  color: #c4c4c4;
  letter-spacing: -0.15px;
}
